In [1]:
import pandas as pd

In [2]:
#Load the data
df = pd.read_excel('Sample_data.xlsx')
df.head()

                 Date  Lower limit Measured_value  Upper limit Label
0 2023-01-12 06:14:27          116         120.47          125  PASS
1 2023-01-12 06:32:20          116         121.35          125  PASS
2 2023-06-26 06:21:25          116         119.58          125  PASS
3 2023-06-26 06:28:21          116         119.59          125  PASS
4 2024-05-16 06:32:07          116         120.27          125  PASS

In [3]:
#Drop the rows with missing values
df.dropna(subset = ['Date','Measured_value','Lower limit','Upper limit','Label'], inplace = True)

# Convert Meaured_value to a numeric
df['Measured_value'] = pd.to_numeric(df['Measured_value'], errors = 'coerce')
df.dropna(subset = ['Measured_value'], inplace = True)

In [4]:
#convert the date column to datetime
df['Time'] = pd.to_datetime(df['Date'], format = '%H:%M:%S')
df.set_index('Time', inplace = True)
df.sort_index(inplace = True)

#handle duplicate timestamps
df_unique_time = df.groupby('Time')['Measured_value'].mean()

#Resample the data to every minute
df_resampled = df_unique_time.resample('min').ffill()

In [5]:
#save the new date set name - 'cleaned_data.csv'
df_resampled.to_csv('cleaned_data.csv')

print("csv file saved successfully")

print("\nFirst 5 rows of the new data set")
print(df_resampled.head())

csv file saved successfully

First 5 rows of the new data set
Time
2023-01-10 21:20:00       NaN
2023-01-10 21:21:00    123.06
2023-01-10 21:22:00    123.06
2023-01-10 21:23:00    123.06
2023-01-10 21:24:00    123.06
Freq: min, Name: Measured_value, dtype: float64